<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Esercizio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Esercizio.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Esercizio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVerbali" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sezione Verbale
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownVerbali">
                            <li><a class="dropdown-item" href="@Url.Action("Add", "Anagrafica")">Inserisci nuova anagrafica</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Anagrafica")">Visualizza tutte le anagrafiche</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Add", "Verbale")">Inserisci nuovo verbale</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Verbale")">Visualizza tutti i verbali</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReport" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Report
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownReport">
                            <li><a class="dropdown-item" href="@Url.Action("VerbaliPerTrasgressore", "Report")">Verbali totali per trasgressore</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("PuntiPerTrasgressore", "Report")">Punti totali decurtati per trasgressore</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ViolazioneOltre10Punti", "Report")">Violazioni oltre 10 punti</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ViolazioniSuperiori400", "Report")">Violazioni con importo superiore a 400 euro</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2024 - Esercizio - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light">Privacy</a>
                </div>                
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
